html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

/*
======= nav bar =============
*/

nav {
  display: flex;
  height: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 72px 0 72px;
}

.center {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
}

.center > img {
  width: 15em;
}

.right {
  margin: 0 20px 0 0;
}

nav > a i.fa {
  color: #555;
}

nav > a {
  text-decoration: none;
  color: #000;
}

nav :nth-child(3) {
  font-weight: 900;
}

nav > button {
  padding: 9px;
  color: #fff;
  background-color: #567b95;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #326891;
  transition: ease 0.6s;
}

.under-header {
  border-bottom: 0.5px solid #eee;
  margin-bottom: 80px;
}

/*
======= nav bar =============
*/

/*
======= main =============
*/

main {
  flex: 1;
}

.main-title {
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.main-title > h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
  color: #121212;
}

.top-social {
  width: 30%;
  margin: 0 auto;
  padding: 20px 0;
}

.top-social > a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}

.picture {
  max-width: 1200px;
  margin: 0 auto;
}

.picture > p {
  text-align: left;
  max-width: 900px;
  color: #555;
  margin-bottom: 70px;
  padding: 0 10px;
}

.picture :nth-child(3) {
  max-width: 600px;
  margin: 0 auto;
}

.picture :nth-child(3) a {
  color: #121212;
  margin: 0 auto;
}

/* signup-for-story section */

/*
======= main =============
*/

/*
======= footer =============
*/

footer {
  flex: 0 0 200px;
}
