html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  color: #333;
}

img {
  width: 100%;
}

p {
  margin: 0 0 0.935rem 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 9px;
  color: #fff;
  background-color: #567b95;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #326891;
  transition: ease 0.6s;
}

i.fa {
  color: #555;
}

.bold {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/*
======= nav bar =============
*/

nav {
  display: flex;
  height: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 72px 0 72px;
}

.center {
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
}

.center > img {
  width: 15em;
}

.right {
  margin: 0 20px 0 0;
}

nav > a {
  color: #000;
}

.top-social > a,
.end-social > a {
  color: #000;
  font-size: 20px;
  margin-right: 15px;
}

nav :nth-child(3) {
  font-weight: 900;
}

.under-header {
  border-bottom: 0.5px solid #eee;
  margin-bottom: 80px;
}

/*
======= nav bar =============
*/

/*
======= main =============
*/

main {
  flex: 1;
}

.main-title {
  width: 30%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.main-title > h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 700;
  color: #121212;
}

.top-social {
  width: 30%;
  margin: 0 auto;
  padding: 20px 0;
}

.picture {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.picture > p {
  text-align: left;
  max-width: 900px;
  color: #555;
  margin-bottom: 50px;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.p-last > a {
  text-decoration: underline;
  color: rgb(102, 102, 102);
  font-size: 0.75rem;
  line-height: 1rem;
}

.picture-parhagraph {
  max-width: 600px;
  margin: 0 auto;
}

.thanks a {
  color: #567b95;
}

/* signup-for-story section */

.science-time {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.big-as-it-get {
  color: #000;
  font-weight: 900;
  font-size: 1.4rem;
}

.empty {
  flex: 1;
}

.article {
  border-top: 1px solid #eee;
  flex: 2;
  padding: 20px 0 30px;
  margin: 0 40px;
}

.eithy-persent {
  float: left;
  max-width: 85%;
  margin: 0;
  padding: 0 30px 10px 0;
  font-style: italic;
}

.eithy-persent > span {
  font-weight: 900;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

.sign-science {
  max-width: 15%;
  float: left;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  padding: 8px 10px;
  font-weight: 800;
}

.science-time > aside {
  flex: 1;
  max-height: 350px;
  margin: auto 0;
}

.side-bar {
  max-width: 220px;
  max-height: 300px;
  margin: 0 auto;
}

.side-bar > a > img {
  float: left;
  max-width: 80px;
  max-height: 80px;
  margin: 0 5px 0 0;
}

.side-bar > a > h3 {
  color: #000;
  font-weight: 500;
  padding-bottom: 0;
  font-size: 14px;
  margin-top: 0;
}

.hr-thanks {
  width: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.thanks {
  padding: 20px 0;
  text-align: center;
  font-weight: 900;
}

/* theory of inflaction */

.theory-of-inflation {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.grid-images {
  position: absolute;
  top: 100px;
  background-color: transparent;
  z-index: 1;
}

.grid-paragraph {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 100px;
  position: relative;
  margin: 200px 0 0 0;
  z-index: 2;
}

.grid-paragraph > p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  word-spacing: 3px;
}

.hr-theory {
  width: 100px;
  float: left;
  border-top: 1px solid #000;
}

.inflactio-images > p {
  float: left;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
}

/* celebrate-physics */

.celebrate-physics {
  max-width: 600px;
  margin: 0 auto;
}

.space-image {
  max-width: 800px;
  margin: 0 auto;
}

.after-image {
  max-width: 600px;
  margin: 0 auto;
}

.p-last {
  color: rgb(102, 102, 102);
  font-size: 0.75rem;
  line-height: 1rem;
}

.end-button {
  float: left;
  width: 45%;
  height: 40px;
  font-size: 0.8rem;
}

.end-social {
  float: left;
  padding: 10px 0 10px 40px;
}

/* ======= main ============= */

/* ======= footer ============= */

footer {
  flex: 0 0 200px;
  padding: 40px 0;
}

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
}

.tick {
  border-top: 2px solid #eee;
  margin-bottom: 2px;
}

.fine {
  border-top: 1px solid #eee;
  margin-bottom: 10px;
}

.go-to-home {
  float: right;
  color: #326891;
  font-size: 0.8rem;
}

.footer-link {
  display: flex;
  justify-content: space-between;
}

.ul-first {
  align-self: flex-start;
  padding: 0;
  font-weight: 100;
}

.footer-link > ul a {
  color: #000;
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
}

.final-links {
  display: flex;
  justify-content: space-between;
}

.final-links > li > a {
  color: rgb(102, 102, 102);
  font-size: 0.75rem;
  line-height: 1rem;
}

.li-first {
  align-self: flex-start;
  padding: 0;
}
